@tailwind base;
@tailwind components;
@tailwind utilities;

.saturn {
  padding-right: 2.25rem;
}

.jupiter,
.uranus {
  padding-right: 1.25rem;
}

body {
  background-image: url("../planets/space.jpg");
  background-size: cover;
}

body,
#root,
#pageLayout,
#pageLayoutContainer,
#planetContainer {
  height: 100svh;
}
